<launch>

  <arg name="uav_name" default="$(env UAV_NAME)" />
  <arg name="config_file" default="" />
    
  <!-- {os1_imu, mavros_imu, vio_imu, xsens_imu} -->
  <arg name="imu_type" default="mavros_imu" />

  <arg name="nodelet" default="standalone"/>
  <arg name="nodelet_manager" default=""/>
  <arg name="launch_delay" default="0"/>
  <arg name="launch_prefix" default=""/>

  <!-- Parameters -->
  <rosparam file="$(find liosam)/config/default.yaml" command="load" />
  <!-- Load a user param file -->
  <rosparam if="$(eval not arg('config_file') == '')" file="$(arg config_file)" />
  <rosparam param="uav_name" subst_value="True">$(arg uav_name)</rosparam>
  <rosparam param="liosam/imuType" subst_value="True">$(arg imu_type)</rosparam>
  
  <!-- liosam nodelets -->
  <node pkg="nodelet" type="nodelet" name="imu_preintegration" args="$(arg nodelet) liosam/ImuPreintegration $(arg nodelet_manager)" output="screen" launch-prefix="bash -c 'sleep $(arg launch_delay); $0 $@'; $(arg launch_prefix)">
  </node>

  <node pkg="nodelet" type="nodelet" name="image_projection" args="$(arg nodelet) liosam/ImageProjection $(arg nodelet_manager)" output="screen" launch-prefix="bash -c 'sleep $(arg launch_delay); $0 $@'; $(arg launch_prefix)">
  </node>

  <node pkg="nodelet" type="nodelet" name="feature_extraction" args="$(arg nodelet) liosam/FeatureExtraction $(arg nodelet_manager)" output="screen" launch-prefix="bash -c 'sleep $(arg launch_delay); $0 $@'; $(arg launch_prefix)">
  </node>

  <node pkg="nodelet" type="nodelet" name="map_optimization" args="$(arg nodelet) liosam/MapOptimization $(arg nodelet_manager)" output="screen" launch-prefix="bash -c 'sleep $(arg launch_delay); $0 $@'; $(arg launch_prefix)">
      <!-- <remap from="liosam/mapping/cloud_registered_raw" to="aloam/scan_registered" /> -->
  </node>


  <!-- liosam nodes -->
  <!-- <node pkg="$(arg project)" type="$(arg project)_imuPreintegration" name="$(arg project)_imuPreintegration" output="screen" respawn="false" launch-prefix="$(arg launch_prefix)" /> -->
  <!-- <node pkg="$(arg project)" type="$(arg project)_imageProjection"   name="$(arg project)_imageProjection"   output="screen" respawn="false" launch-prefix="$(arg launch_prefix)" /> -->
  <!-- <node pkg="$(arg project)" type="$(arg project)_featureExtraction" name="$(arg project)_featureExtraction" output="screen" respawn="false" launch-prefix="$(arg launch_prefix)" /> -->
  <!-- <node pkg="$(arg project)" type="$(arg project)_mapOptimization"   name="$(arg project)_mapOptimization"   output="screen" respawn="false" launch-prefix="$(arg launch_prefix)" /> -->
    
</launch>
