<launch>

    <param name="/use_sim_time" value="false" />
    
    <arg name="UAV_NAME" default="$(env UAV_NAME)" />

    <!-- imu_type: {os1_imu, mavros_imu, vio_imu, xsens_imu} -->
    <arg name="imu" default="mavros_imu" />

    <arg name="bag_path" default="$(env HOME)/bag_files" />
    <arg name="bag" default="sim_byci_skala.bag" />

    <!-- IMU filtration -->
    <include file="$(find mrs_imu_utils)/launch/filter_imu.launch" >
      
      <arg name="imu_config" value="$(arg imu)" />

      <arg if="$(eval arg('imu') == 'mavros_imu')" name="estimate_attitude" value="true" />
      <arg if="$(eval arg('imu') == 'mavros_imu')" name="topic_in" default="mavros/imu/data" />
      <arg if="$(eval arg('imu') == 'mavros_imu')" name="topic_out" default="mavros/imu/data_filt" />

      <arg if="$(eval arg('imu') == 'os1_imu')" name="estimate_attitude" value="true" />
      <arg if="$(eval arg('imu') == 'os1_imu')" name="topic_in" default="os1_cloud_node/imu" />
      <arg if="$(eval arg('imu') == 'os1_imu')" name="topic_out" default="os1_cloud_node/imu_data" />

      <arg if="$(eval arg('imu') == 'vio_imu')" name="estimate_attitude" value="true" />
      <arg if="$(eval arg('imu') == 'vio_imu')" name="topic_in" default="vio_imu/imu_raw" />
      <arg if="$(eval arg('imu') == 'vio_imu')" name="topic_out" default="vio_imu/data" />

    </include>

    <!--- LOAM -->
    <include file="$(find liosam)/launch/sim.launch" />

    <!-- Rosbag -->
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(arg bag_path)/$(arg bag)" launch-prefix="bash -c 'sleep 3; $0 $@'"/>

    <!-- GT TF -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="world2aloam" args="0 0 -0.23 0.0399893 0 0.9992001 0 $(arg UAV_NAME)/aloam_origin world" />

    <!--- Rviz-->
    <!-- <node pkg="rviz" type="rviz" name="localization_rviz" args="-d $(find liosam)/rviz/$(arg UAV_NAME)_loc_comp.rviz" /> -->

</launch>
