<launch>

    <param name="/use_sim_time" value="false" />

    <!-- imu_type: "os1_imu" # {os1_imu, mavros_imu} -->
    <arg name="imu" default="mavros_imu" />

    <!-- <arg name="bag_path" default="/media/pavel/Extreme\ SSD/pavel_ntb_backup_do_not_delete_pls/bag_files" /> -->
    <!-- <arg name="bag" default="os1_dataset_kn_manual.bag" /> -->
    <arg name="bag" default="os1_dataset_kn_autonomous.bag" />

    <arg name="bag_path" default="$(env HOME)/bag_files" />
    <!-- <arg name="bag" default="stara_voda_altitude_drift_high_res.bag" /> -->
    <!-- <arg name="bag" default="skoda_js_ouster_flight_4.bag" /> -->
    <!-- <arg name="bag" default="lab.bag" /> -->

    <include file="$(find mrs_attitude_estimation)/launch/$(arg imu).launch" />

    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/uav.launch" />

    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(arg bag_path)/$(arg bag)" launch-prefix="bash -c 'sleep 3; $0 $@'"/>

</launch>
