<launch>

  <arg name="uav_name" default="$(env UAV_NAME)"/>
  <arg name="rviz" default="false"/>

  <group ns="$(arg uav_name)">

    <!--- LOAM -->
    <include file="$(find liosam)/launch/include/module_loam.launch" >
      <arg name="config_file" value="$(find liosam)/config/sim.yaml" />
    </include>

    <!--- Run Rviz-->
    <include if="$(arg rviz)" file="$(find liosam)/launch/include/module_rviz.launch" />

  </group>


</launch>
